<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--注解扫描-->
    <context:component-scan base-package="com.dekuan"/>

    <!--显式配置-->

    <!--处理器映射器/处理器适配器的配置；还能进行功能的增强，支持json的读写-->
    <mvc:annotation-driven conversion-service="ConversionService"/>

    <!--视图解析器的配置-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--自动解析：将逻辑地址转换解析成具体的物理文件文件地址-->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--自定义类型转换器的配置-->
    <bean id="ConversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.dekuan.converter.DateConverter"/>
            </set>
        </property>
    </bean>

    <!--方式一：指定静态资源的放行 mapping:静态资源的映射路径 location:静态资源的地址-->
 <!--   <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/img/**" location="/img/"/>-->

    <!--方式二：指定静态资源的放行:在springMVC配置文件中开启DefaultServlet处理静态资源-->
    <mvc:default-servlet-handler/>

    <!--文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设定文件上传的最大值为5MB，5*1024*1024 -->
        <property name="maxUploadSize" value="5242880"/>
        <!-- 设定文件上传时写入内存的最大值，如果小于这个参数不会生成临时文件，默认为10240 -->
        <property name="maxInMemorySize" value="40960"/>
     </bean>

    <!--自定义异常处理类的配置-->
    <bean id="globalExcptionResolver" class="com.dekuan.exception.GlobalExceptionResolver"/>

    <!--配置拦截器-->
    <mvc:interceptors>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>   <!--对controller类下的所有方法进行拦截-->
            <bean class="com.dekuan.interceptor.MyInterceptor1"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>   <!--对controller类下的所有方法进行拦截-->
            <bean class="com.dekuan.interceptor.MyInterceptor2"/>
        </mvc:interceptor>

</mvc:interceptors>
</beans>
